Repository Amsterdam/ee-react-map-demos: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:scripts, npm run lint:styles

[22] Setup geojson layer example (#17)
  package-lock.json
  package.json
  src/pages/GeoJSONLayer/GeoJSONLayer.test.tsx
  src/pages/GeoJSONLayer/GeoJSONLayer.tsx
  src/pages/GeoJSONLayer/data.json
  src/pages/GeoJSONLayer/styles.module.css
  src/pages/GeoJSONLayer/types.ts
  src/stories/pages/GeoJSONLayer/index.stories.ts
  src/utils/toGeoJSON.ts
  vite.config.ts
Due: npm run lint:scripts, npm run lint:styles

[32] react-leaflet WFS layer (#18)
  src/pages/ReactLeaflet/WFSLayer/BaseLayer.test.tsx
  src/pages/ReactLeaflet/WFSLayer/BaseLayer.tsx
  src/pages/ReactLeaflet/WFSLayer/WFSLayer.test.tsx
  src/pages/ReactLeaflet/WFSLayer/WFSLayer.tsx
  src/pages/ReactLeaflet/WFSLayer/styles.module.css
  src/pages/ReactLeaflet/WFSLayer/useGeoJSONData.test.ts
  src/pages/ReactLeaflet/WFSLayer/useGeoJSONData.ts
  src/pages/WFSLayer/useGeoJSONLayer.test.tsx
  src/stories/pages/ReactLeaflet/WFSLayer/index.mdx
  src/stories/pages/ReactLeaflet/WFSLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

Improve marker docs for big data
  src/stories/pages/Marker/index.mdx
Due: none

Marker docs cleanup and new docs for Leaflet icons added
  src/stories/Icons.mdx
  src/stories/pages/Marker/index.mdx
Due: none

Marker file renamed
  src/pages/Marker/Marker.test.tsx
  src/pages/Marker/Marker.tsx
  src/stories/pages/Marker/index.mdx
  src/stories/pages/Marker/index.stories.ts
Due: npm run lint:scripts

Leaflet marker example setup
  src/assets/icons/map-marker.svg
  src/pages/Marker/icons/customMarker.tsx
  src/pages/Marker/index.test.tsx
  src/pages/Marker/index.tsx
  src/pages/Marker/styles.module.css
  src/stories/pages/Marker/index.mdx
  src/stories/pages/Marker/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

Set marker classname for test
  src/pages/Marker/Marker.test.tsx
  src/pages/Marker/icons/customMarker.tsx
Due: npm run lint:scripts

Remove eslint disabled line
  src/pages/Marker/Marker.tsx
Due: npm run lint:scripts

Remove unnecessary latlng call
  src/pages/Marker/Marker.tsx
Due: npm run lint:scripts

Feature/scts 2 pointer marker (#11)
  src/assets/icons/map-marker.svg
  src/pages/Marker/Marker.test.tsx
  src/pages/Marker/Marker.tsx
  src/pages/Marker/icons/customMarker.tsx
  src/pages/Marker/styles.module.css
  src/stories/Icons.mdx
  src/stories/pages/Marker/index.mdx
  src/stories/pages/Marker/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

Feature/scts 2 pointer marker (#11) (#20)
  src/assets/icons/map-marker.svg
  src/pages/Marker/Marker.test.tsx
  src/pages/Marker/Marker.tsx
  src/pages/Marker/icons/customMarker.tsx
  src/pages/Marker/styles.module.css
  src/stories/Icons.mdx
  src/stories/pages/Marker/index.mdx
  src/stories/pages/Marker/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

Polyline layer example with docs and test
  src/pages/PolylineLayer/PolylineLayer.test.tsx
  src/pages/PolylineLayer/PolylineLayer.tsx
  src/pages/PolylineLayer/data.json
  src/pages/PolylineLayer/layerStyles.ts
  src/pages/PolylineLayer/styles.module.css
  src/stories/pages/PolylineLayer/index.mdx
  src/stories/pages/PolylineLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

WMSLayer example, test and docs
  package-lock.json
  package.json
  src/pages/WMSLayer/WMSLayer.test.tsx
  src/pages/WMSLayer/WMSLayer.tsx
  src/pages/WMSLayer/styles.module.css
  src/stories/pages/WMSLayer/index.mdx
  src/stories/pages/WMSLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

WIP MVT layer
  package-lock.json
  package.json
  src/leaflet.vectorgrid.d.ts
  src/pages/MVTLayer/MVTLayer.tsx
  src/pages/MVTLayer/styles.module.css
  src/stories/pages/MVTLayer/index.mdx
  src/stories/pages/MVTLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

Polyline layer example with docs and test (#22)
  src/pages/PolylineLayer/PolylineLayer.test.tsx
  src/pages/PolylineLayer/PolylineLayer.tsx
  src/pages/PolylineLayer/data.json
  src/pages/PolylineLayer/layerStyles.ts
  src/pages/PolylineLayer/styles.module.css
  src/stories/pages/PolylineLayer/index.mdx
  src/stories/pages/PolylineLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

WMSLayer example, test and docs (#23)
  package-lock.json
  package.json
  src/pages/WMSLayer/WMSLayer.test.tsx
  src/pages/WMSLayer/WMSLayer.tsx
  src/pages/WMSLayer/styles.module.css
  src/stories/pages/WMSLayer/index.mdx
  src/stories/pages/WMSLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

PolygonLayer in React
  src/pages/ReactLeaflet/PolygonLayer/PolygonLayer.test.tsx
  src/pages/ReactLeaflet/PolygonLayer/PolygonLayer.tsx
  src/pages/ReactLeaflet/PolygonLayer/data.json
  src/pages/ReactLeaflet/PolygonLayer/styles.module.css
  src/stories/pages/ReactLeaflet/PolygonLayer/index.mdx
  src/stories/pages/ReactLeaflet/PolygonLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

test clustering in non-storybook
  package-lock.json
  package.json
  src/pages/BaseMap/BaseMap.tsx
  src/pages/BaseMap/data.json
  src/pages/BaseMap/index.test.tsx
  src/pages/BaseMap/styles.module.css
  src/pages/BaseMap/types.ts
  src/pages/BaseMap/utils/createClusterIcon.ts
  src/pages/Home/data.json
  src/pages/Home/index.tsx
  src/pages/Home/styles.module.css
  src/pages/Home/types.ts
  src/pages/Home/utils/createClusterIcon.ts
  src/routes.tsx
  src/utils/getCrsRd.ts
  src/utils/toGeoJSON.ts
Due: npm run lint:scripts, npm run lint:styles

Resolve random storybook Failed to fetch dynamically imported module error
  src/stories/pages/ZoomControl/index.stories.tsx
  vite.config.ts
Due: npm run lint:scripts

Resolve random storybook Failed to fetch dynamically imported module error (#26)
  src/stories/pages/ZoomControl/index.stories.tsx
  vite.config.ts
Due: npm run lint:scripts

Polygon layer docs and styles separated
  src/pages/PolygonLayer/PolygonLayer.test.tsx
  src/pages/PolygonLayer/PolygonLayer.tsx
  src/pages/PolygonLayer/layerStyles.ts
  src/stories/pages/PolygonLayer/index.mdx
Due: npm run lint:scripts

Working polygonlayer and test
  src/pages/PolygonLayer/PolygonLayer.test.tsx
  src/pages/PolygonLayer/PolygonLayer.tsx
  src/pages/PolygonLayer/PolygonLayerArray.tsx
  src/pages/PolygonLayer/data.json
  src/pages/PolygonLayer/single.json
  src/stories/pages/PolygonLayer/index.mdx
Due: npm run lint:scripts

Polygonlayer docs cleanup
  src/stories/pages/PolygonLayer/index.mdx
Due: none

WIP initial Polygonlayer examples
  src/pages/PolygonLayer/PolygonLayer.test.tsx
  src/pages/PolygonLayer/PolygonLayer.tsx
  src/pages/PolygonLayer/PolygonLayerArray.tsx
  src/pages/PolygonLayer/data.json
  src/pages/PolygonLayer/single.json
  src/pages/PolygonLayer/styles.module.css
  src/stories/pages/PolygonLayer/index.mdx
  src/stories/pages/PolygonLayer/index.stories.ts
  src/utils/reverseLatLng.ts
Due: npm run lint:scripts, npm run lint:styles

pass data directly to Polygon component since it already has the right form and shape.
  src/pages/ReactLeaflet/PolygonLayer/PolygonLayer.test.tsx
  src/pages/ReactLeaflet/PolygonLayer/PolygonLayer.tsx
  src/stories/pages/ReactLeaflet/PolygonLayer/index.mdx
Due: npm run lint:scripts

[3] Polygon marker (#21)
  src/pages/PolygonLayer/PolygonLayer.test.tsx
  src/pages/PolygonLayer/PolygonLayer.tsx
  src/pages/PolygonLayer/data.json
  src/pages/PolygonLayer/layerStyles.ts
  src/pages/PolygonLayer/styles.module.css
  src/stories/pages/PolygonLayer/index.mdx
  src/stories/pages/PolygonLayer/index.stories.ts
  src/utils/reverseLatLng.ts
Due: npm run lint:scripts, npm run lint:styles

storybook logo changed to gemeente
  .storybook/static/amsterdam.svg
Due: none

Further favicon cleanup
  favicon.svg
Due: none

Make storybook primary script, remove vite build and non-map components
  favicon.svg
Due: none

removed duplicated test, removed var that was used only once
  src/pages/ReactLeaflet/Marker/Marker.test.tsx
  src/pages/ReactLeaflet/Marker/Marker.tsx
Due: npm run lint:scripts

Marker for react leaflet
  src/pages/ReactLeaflet/Marker/Marker.test.tsx
  src/pages/ReactLeaflet/Marker/Marker.tsx
  src/pages/ReactLeaflet/Marker/styles.module.css
  src/shared/assets/Location.svg
  src/stories/pages/ReactLeaflet/Marker/index.mdx
  src/stories/pages/ReactLeaflet/Marker/index.stories.ts
  src/utils/icons/defaultMarker.ts
Due: npm run lint:scripts, npm run lint:styles

Polyline Layer component is added
  src/pages/ReactLeaflet/PolylineLayer/PolylineLayer.test.tsx
  src/pages/ReactLeaflet/PolylineLayer/PolylineLayer.tsx
  src/pages/ReactLeaflet/PolylineLayer/data.json
  src/pages/ReactLeaflet/PolylineLayer/styles.module.css
  src/stories/pages/ReactLeaflet/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/PolylineLayer/index.stories.ts
  src/stories/pages/ReactLeaflet/WFSLayer/index.mdx
Due: npm run lint:scripts, npm run lint:styles

[chore] layer descriptions
  src/stories/Layers.mdx
Due: none

[chore] layer descriptions (#29)
  src/stories/Layers.mdx
Due: none

WMSLayer added
  src/pages/ReactLeaflet/BaseLayer/BaseLayer.tsx
  src/pages/ReactLeaflet/Marker/Marker.tsx
  src/pages/ReactLeaflet/PolygonLayer/PolygonLayer.tsx
  src/pages/ReactLeaflet/PolylineLayer/PolylineLayer.tsx
  src/pages/ReactLeaflet/WMSLayer/WMSLayer.test.tsx
  src/pages/ReactLeaflet/WMSLayer/WMSLayer.tsx
  src/pages/ReactLeaflet/WMSLayer/styles.module.css
  src/stories/pages/ReactLeaflet/WMSLayer/index.mdx
  src/stories/pages/ReactLeaflet/WMSLayer/index.stories.ts
  src/stories/pages/WMSLayer/index.mdx
Due: npm run lint:scripts, npm run lint:styles

Add test to see if icons are shown
  src/pages/ReactLeaflet/WMSLayer/WMSLayer.test.tsx
Due: npm run lint:scripts

Use utility class to visually hide elements
  src/components/ZoomControl/ZoomControl.tsx
  src/pages/Fullscreen/FullscreenPageFooter.tsx
Due: npm run lint:scripts

Use utility class to visually hide elements (#36)
  src/components/ZoomControl/ZoomControl.tsx
  src/pages/Fullscreen/FullscreenPageFooter.tsx
Due: npm run lint:scripts

Initial GeoJSON docs
  src/stories/pages/GeoJSONLayer/index.mdx
Due: none

GeoJSON layer docs
  src/stories/pages/GeoJSONLayer/index.mdx
Due: none

Path conditions:
  npm run lint:scripts: any of: ./**/*.{ts,tsx,json}
  npm run lint:styles: any of: ./**/*.{css,scss}
