Repository Amsterdam/ee-react-map-demos: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:scripts, npm run lint:styles

Table of contents and code usage added
  src/stories/pages/GeoJSONLayer/index.mdx
Due: none

style ReactLeaflet GeoJSON like Leaflet GeoJSON
  src/pages/ReactLeaflet/GeoJSONLayer/GeoJSONLayer.test.tsx
  src/pages/ReactLeaflet/GeoJSONLayer/GeoJSONLayer.tsx
  src/pages/ReactLeaflet/GeoJSONLayer/data.json
  src/pages/ReactLeaflet/GeoJSONLayer/styles.module.css
  src/pages/ReactLeaflet/GeoJSONLayer/types.ts
  src/pages/ReactLeaflet/PolygonLayer/PolygonLayer.tsx
  src/pages/ReactLeaflet/PolylineLayer/PolylineLayer.tsx
  src/stories/pages/ReactLeaflet/GeoJSONLayer/index.mdx
  src/stories/pages/ReactLeaflet/GeoJSONLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

improve readability by removing and inserting new lines
  src/pages/ReactLeaflet/GeoJSONLayer/GeoJSONLayer.test.tsx
  src/pages/ReactLeaflet/GeoJSONLayer/GeoJSONLayer.tsx
Due: npm run lint:scripts

WIP initial supercluster but static
  package-lock.json
  package.json
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/data.json
  src/pages/MarkerCluster/marker-cluster.css
  src/pages/MarkerCluster/styles.module.css
  src/pages/MarkerCluster/types.ts
  src/stories/pages/MarkerCluster/index.mdx
  src/stories/pages/MarkerCluster/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

Fresh package-lock to resolve git run error
  package-lock.json
Due: npm run lint:scripts

working spiderfy
  src/pages/MarkerCluster/MarkerClusterSpider.tsx
  src/pages/MarkerCluster/getExternalFeatures.ts
  src/pages/MarkerCluster/processFeatures.ts
Due: npm run lint:scripts

Markercluster cleanup
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/styles.module.css
  src/pages/MarkerCluster/utils/createClusterIcon.ts
Due: npm run lint:scripts, npm run lint:styles

Initial Markercluster spider docs
  src/pages/MarkerCluster/mapStyles.ts
  src/stories/pages/MarkerCluster/index.mdx
  src/stories/pages/MarkerClusterSpider/index.mdx
Due: npm run lint:scripts

Initial markercluster docs
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/getExternalFeatures.ts
  src/stories/pages/MarkerCluster/index.mdx
  src/stories/pages/MarkerCluster/index.stories.ts
Due: npm run lint:scripts

WIP working supercluster
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/marker-cluster.css
  src/pages/MarkerCluster/styles.module.css
Due: npm run lint:scripts, npm run lint:styles

Working spider clustering version added
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/MarkerClusterSpider.tsx
  src/pages/MarkerCluster/getExternalFeatures.ts
  src/pages/MarkerCluster/processFeatures.ts
  src/pages/MarkerCluster/types.ts
  src/stories/pages/MarkerCluster/index.mdx
  src/stories/pages/MarkerClusterSpider/index.mdx
  src/stories/pages/MarkerClusterSpider/index.stories.ts
  src/utils/toBoundsLiteral.ts
Due: npm run lint:scripts

Markerclusterspider docs
  src/pages/MarkerClusterSpider/MarkerClusterSpider.tsx
  src/pages/MarkerClusterSpider/mapStyles.ts
  src/pages/MarkerClusterSpider/processFeatures.ts
  src/pages/MarkerClusterSpider/types.ts
  src/stories/pages/MarkerClusterSpider/index.mdx
Due: npm run lint:scripts

commented and cleaned up getExternalFeatures
  src/pages/MarkerCluster/getExternalFeatures.ts
  src/pages/MarkerCluster/types.ts
Due: npm run lint:scripts

WIP cluster spider
  src/data/data.json
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/MarkerClusterSpider.tsx
  src/pages/MarkerCluster/data-xl.json
  src/pages/MarkerCluster/spider-data-large.json
  src/pages/MarkerCluster/spider-data-small.json
  src/stories/pages/MarkerCluster/index.stories.ts
  src/utils/overlappingm-marker-spiderfier.js
  src/utils/toBoundsLiteral.ts
Due: npm run lint:scripts

Setupmutliple story exports to show circle vs spiral cluster
  src/stories/pages/MarkerClusterSpiderfy/index.stories.ts
Due: npm run lint:scripts

Handle marker data on click
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/data.json
  src/pages/MarkerCluster/utils/createClusterIcon.ts
Due: npm run lint:scripts

Resolve typescript warnings
  src/pages/MarkerClusterSpider/MarkerClusterSpider.tsx
  src/pages/MarkerClusterSpider/getMapData.ts
  src/utils/overlappingm-marker-spiderfier.js
Due: npm run lint:scripts

marker cluster spider component split into separate dir and stylelint fixes
  .stylelintrc
  src/data/data.json
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/spider-data-large.json
  src/pages/MarkerCluster/spider-data-small.json
  src/pages/MarkerClusterSpider/MarkerClusterSpider.tsx
  src/pages/MarkerClusterSpider/data.json
  src/pages/MarkerClusterSpider/getMapData.ts
  src/pages/MarkerClusterSpider/mapStyles.ts
  src/pages/MarkerClusterSpider/processFeatures.ts
  src/pages/MarkerClusterSpider/styles.module.css
  src/pages/MarkerClusterSpider/types.ts
  src/pages/MarkerClusterSpider/utils/createClusterIcon.ts
  src/pages/MarkerClusterSpider/utils/createClusterShapes.ts
  src/pages/MarkerClusterSpider/utils/roundNumber.ts
  src/stories/pages/MarkerCluster/index.mdx
  src/stories/pages/MarkerClusterSpider/index.mdx
  src/stories/pages/MarkerClusterSpider/index.stories.ts
  src/utils/toBoundsLiteral.ts
Due: npm run lint:scripts, npm run lint:styles

event separation between cluster and marker
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/marker-cluster.css
  src/pages/MarkerCluster/styles.module.css
Due: npm run lint:scripts, npm run lint:styles

MarkerClusterSpider renamed to MarkerClusterSpiderfy
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.tsx
  src/pages/MarkerClusterSpiderfy/data.json
  src/pages/MarkerClusterSpiderfy/getMapData.ts
  src/pages/MarkerClusterSpiderfy/mapStyles.ts
  src/pages/MarkerClusterSpiderfy/processFeatures.ts
  src/pages/MarkerClusterSpiderfy/styles.module.css
  src/pages/MarkerClusterSpiderfy/types.ts
  src/pages/MarkerClusterSpiderfy/utils/createClusterIcon.ts
  src/pages/MarkerClusterSpiderfy/utils/createClusterShapes.ts
  src/pages/MarkerClusterSpiderfy/utils/roundNumber.ts
  src/stories/pages/MarkerClusterSpiderfy/index.mdx
  src/stories/pages/MarkerClusterSpiderfy/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

processFeatures initial refactor
  src/pages/MarkerCluster/MarkerClusterSpider.tsx
  src/pages/MarkerCluster/data-xl.json
  src/pages/MarkerCluster/getExternalFeatures.ts
  src/pages/MarkerCluster/mapStyles.ts
  src/pages/MarkerCluster/processFeatures.ts
  src/pages/MarkerCluster/types.ts
  src/pages/MarkerCluster/utils/createClusterShapes.ts
  src/pages/MarkerCluster/utils/roundNumber.ts
Due: npm run lint:scripts

Initialtest for markercluster
  src/pages/MarkerCluster/MarkerCluster.test.tsx
Due: npm run lint:scripts

Fix for max and min zoom
  src/components/Map/defaultMapOptions.ts
  src/pages/BaseLayer/BaseLayer.tsx
  src/pages/GeoJSONLayer/GeoJSONLayer.tsx
  src/pages/Marker/Marker.tsx
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.tsx
  src/pages/MarkerClusterSpiderfy/getMapData.test.ts
  src/pages/PolygonLayer/PolygonLayer.tsx
  src/pages/PolylineLayer/PolylineLayer.tsx
  src/pages/ReactLeaflet/BaseLayer/BaseLayer.tsx
  src/pages/ReactLeaflet/Marker/Marker.tsx
  src/pages/ReactLeaflet/PolygonLayer/PolygonLayer.tsx
  src/pages/ReactLeaflet/PolygonLayer/data.json
  src/pages/ReactLeaflet/PolylineLayer/PolylineLayer.tsx
  src/pages/ReactLeaflet/WFSLayer/BaseLayer.tsx
  src/pages/WFSLayer/useLeafletMap.ts
  src/pages/WMSLayer/WMSLayer.tsx
Due: npm run lint:scripts

Cluster documentation separated and cleaned up
  .storybook/main.ts
  src/stories/MarkerClustering.mdx
  src/stories/pages/MarkerCluster/background.mdx
  src/stories/pages/MarkerCluster/index.mdx
  src/stories/pages/MarkerClusterSpiderfy/index.mdx
Due: npm run lint:scripts

MarkerCluster createClusterIcon test
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/utils/createClusterIcon.test.ts
Due: npm run lint:scripts

final missing cluster tests
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.tsx
  src/pages/MarkerClusterSpiderfy/getMapData.test.ts
  src/pages/MarkerClusterSpiderfy/processFeatures.test.ts
  src/pages/MarkerClusterSpiderfy/processFeatures.ts
  src/utils/toBoundsLiteral.test.ts
Due: npm run lint:scripts

Remove RD coordinate records from data.json
  src/pages/MarkerCluster/data.json
Due: npm run lint:scripts

Fresh package-lock.json
  package-lock.json
Due: npm run lint:scripts

Updated storybook contents
  .storybook/main.ts
Due: npm run lint:scripts

getMapData and MarkerClusterSpiderfy tests added
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.tsx
  src/pages/MarkerClusterSpiderfy/getMapData.test.ts
  src/pages/MarkerClusterSpiderfy/getMapData.ts
  src/pages/MarkerClusterSpiderfy/utils/createClusterIcon.test.ts
  src/pages/MarkerClusterSpiderfy/utils/createClusterShapes.test.ts
  src/pages/MarkerClusterSpiderfy/utils/roundNumber.test.ts
  tsconfig.json
Due: npm run lint:scripts

Fix for missing Leaflet css in markercluster
  src/pages/MarkerCluster/MarkerCluster.tsx
Due: npm run lint:scripts

Working test for primary markercluster component
  package-lock.json
  package.json
  src/pages/MarkerCluster/MarkerCluster.test.tsx
Due: npm run lint:scripts

Test for primary MarkerClusterSpider component
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.test.tsx
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.tsx
Due: npm run lint:scripts

Remove unnused docs page
  src/stories/pages/MarkerCluster/background.mdx
Due: none

Replace fireEvent with userEvent for click actions
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.test.tsx
Due: npm run lint:scripts

Remove unnecessary FunctionComponent type
  src/components/ZoomControl/ZoomControl.tsx
  src/pages/BaseLayer/BaseLayer.tsx
  src/pages/GeoJSONLayer/GeoJSONLayer.tsx
  src/pages/Marker/Marker.tsx
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.tsx
  src/pages/PolygonLayer/PolygonLayer.tsx
  src/pages/PolylineLayer/PolylineLayer.tsx
  src/pages/ReactLeaflet/WFSLayer/BaseLayer.tsx
  src/pages/ReactLeaflet/WFSLayer/WFSLayer.tsx
  src/pages/WFSLayer/WFSLayer.tsx
  src/pages/WMSLayer/WMSLayer.tsx
Due: npm run lint:scripts

Replace spiderfy fireevents with userevent
  src/pages/MarkerCluster/MarkerCluster.test.tsx
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.test.tsx
Due: npm run lint:scripts

Remove unnecessary array find
  src/pages/MarkerCluster/MarkerCluster.test.tsx
Due: npm run lint:scripts

Handle typescript warnings in tests
  src/pages/MarkerCluster/MarkerCluster.test.tsx
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.test.tsx
Due: npm run lint:scripts

WIP initial supercluster but static
  package-lock.json
  src/pages/MarkerCluster/marker-cluster.css
  src/pages/MarkerCluster/types.ts
Due: npm run lint:scripts, npm run lint:styles

Path conditions:
  npm run lint:scripts: any of: ./**/*.{ts,tsx,json}
  npm run lint:styles: any of: ./**/*.{css,scss}
