Repository Amsterdam/ee-react-map-demos: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:scripts, npm run lint:styles

.lintstagedrc:

{
  "./**/*.{ts,tsx,json}": "npm run lint:scripts",
  "./**/*.{css,scss}": "npm run lint:styles"
}

Fix for Singlemarkerselect alert test
  src/pages/ContextExamples/SingleMarkerSelect/Alert.test.tsx
Due: npm run lint:scripts

strictMode always on
  .storybook/main.ts
Due: npm run lint:scripts

Remove unused components and fix name
  src/pages/ContextExamples/MapContextExample.test.tsx
  src/pages/ContextExamples/MapContextExample.tsx
  src/pages/ContextExamples/Position/Position.tsx
Due: npm run lint:scripts

Increase default opacity on marker example
  src/pages/ContextExamples/SingleMarkerSelect/marker.css
Due: npm run lint:styles

Context docs cleanup and prevent click throughs on full screen example footer links
  src/pages/ContextExamples/ZoomControlsFullScreen/Footer.tsx
  src/stories/pages/Context/Context.mdx
  src/stories/pages/Context/MultiMarkerSelect/index.mdx
Due: npm run lint:scripts

Better context examples intro
  src/stories/pages/Context/Context.mdx
Due: none

TOC added to context examples
  src/stories/pages/Context/MultiMarkerSelect/index.mdx
  src/stories/pages/Context/Position/index.mdx
  src/stories/pages/Context/SingleMarkerSelect/index.mdx
  src/stories/pages/Context/ZoomControls/index.mdx
  src/stories/pages/Context/ZoomControlsFullScreen/index.mdx
Due: none

Fresh package-lock
  package-lock.json
Due: npm run lint:scripts

Table of contents added to docs mdx
  src/stories/pages/React/BaseLayer/index.mdx
  src/stories/pages/React/Marker/index.mdx
  src/stories/pages/React/PolygonLayer/index.mdx
  src/stories/pages/React/PolylineLayer/index.mdx
  src/stories/pages/React/WFSLayer/index.mdx
  src/stories/pages/React/WMSLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/GeoJSONLayer/index.mdx
  src/stories/pages/ReactLeaflet/Marker/index.mdx
  src/stories/pages/ReactLeaflet/PolygonLayer/index.mdx
  src/stories/pages/ReactLeaflet/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/WFSLayer/index.mdx
  src/stories/pages/ReactLeaflet/WMSLayer/index.mdx
Due: none

TOC fixes
  src/stories/pages/MarkerCluster/index.mdx
  src/stories/pages/MarkerClusterSpiderfy/index.mdx
  src/stories/pages/React/Marker/index.mdx
  src/stories/pages/React/PolygonLayer/index.mdx
  src/stories/pages/React/PolylineLayer/index.mdx
  src/stories/pages/React/WFSLayer/index.mdx
  src/stories/pages/React/WMSLayer/index.mdx
  src/stories/pages/ReactLeaflet/PolygonLayer/index.mdx
  src/stories/pages/ReactLeaflet/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/WFSLayer/index.mdx
  src/stories/pages/ReactLeaflet/WMSLayer/index.mdx
Due: none

Missing example links added to global layers docs
  src/stories/Layers.mdx
Due: none

Table of contents added to markdown docs (#38)
  src/stories/Layers.mdx
  src/stories/pages/MarkerCluster/index.mdx
  src/stories/pages/MarkerClusterSpiderfy/index.mdx
  src/stories/pages/React/BaseLayer/index.mdx
  src/stories/pages/React/Marker/index.mdx
  src/stories/pages/React/PolygonLayer/index.mdx
  src/stories/pages/React/PolylineLayer/index.mdx
  src/stories/pages/React/WFSLayer/index.mdx
  src/stories/pages/React/WMSLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/GeoJSONLayer/index.mdx
  src/stories/pages/ReactLeaflet/Marker/index.mdx
  src/stories/pages/ReactLeaflet/PolygonLayer/index.mdx
  src/stories/pages/ReactLeaflet/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/WFSLayer/index.mdx
  src/stories/pages/ReactLeaflet/WMSLayer/index.mdx
Due: none

initial intro content
  src/stories/Intro.mdx
Due: none

Better alert styling
  src/pages/ContextExamples/MultiMarkerSelect/Alert.tsx
  src/pages/ContextExamples/SingleMarkerSelect/Alert.tsx
Due: npm run lint:scripts

Better fill colors for multimarkerselect
  src/pages/ContextExamples/MultiMarkerSelect/Map.tsx
Due: npm run lint:scripts

Intro page setup, old unused assets removed
  src/stories/Intro.mdx
  src/stories/assets/DocumentCheckmark.svg
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/intro-00.png
  src/stories/assets/intro-01.png
  src/stories/assets/intro-02.png
  src/stories/assets/intro-03.png
  src/stories/assets/intro-04.png
  src/stories/assets/intro-05.png
  src/stories/assets/intro-06.png
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
Due: none

Testing docs added
  src/stories/Intro.mdx
  src/stories/Testing.mdx
Due: none

Fixed fullpage map replaced with fullscreen app style map
  src/pages/ContextExamples/ZoomControlsFullScreen/MapProvider.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/ZoomControlsFullScreen.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/styles.module.css
  src/stories/pages/Context/ZoomControlsFullScreen/index.mdx
Due: npm run lint:scripts, npm run lint:styles

typo fixes
  src/stories/Intro.mdx
Due: none

Intro + test docs pages (#39)
  src/pages/ContextExamples/MultiMarkerSelect/Alert.tsx
  src/pages/ContextExamples/MultiMarkerSelect/Map.tsx
  src/pages/ContextExamples/SingleMarkerSelect/Alert.tsx
  src/stories/Intro.mdx
  src/stories/Testing.mdx
  src/stories/assets/DocumentCheckmark.svg
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/intro-00.png
  src/stories/assets/intro-01.png
  src/stories/assets/intro-02.png
  src/stories/assets/intro-03.png
  src/stories/assets/intro-04.png
  src/stories/assets/intro-05.png
  src/stories/assets/intro-06.png
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
Due: npm run lint:scripts

Move MarkerCluster storybook dirs into correct React directory to fix menu order
  src/stories/pages/React/MarkerCluster/index.mdx
  src/stories/pages/React/MarkerCluster/index.stories.ts
  src/stories/pages/React/MarkerClusterSpiderfy/index.mdx
  src/stories/pages/React/MarkerClusterSpiderfy/index.stories.ts
Due: npm run lint:scripts

Storybook updated to v8.2.1
  .storybook/main.ts
  .storybook/preview.tsx
  package-lock.json
  package.json
Due: npm run lint:scripts

Move MarkerCluster storybook dirs into correct React directory to fix menu order (#41)
  src/stories/pages/React/MarkerCluster/index.mdx
  src/stories/pages/React/MarkerCluster/index.stories.ts
  src/stories/pages/React/MarkerClusterSpiderfy/index.mdx
  src/stories/pages/React/MarkerClusterSpiderfy/index.stories.ts
Due: npm run lint:scripts

Storybook updated to v8.2.1 (#42)
  .storybook/main.ts
  .storybook/preview.tsx
  package-lock.json
  package.json
Due: npm run lint:scripts

Remove unnused footer component file and file reference in docs
  src/pages/ContextExamples/ZoomControlsFullScreen/Footer.test.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/Footer.tsx
  src/stories/pages/Context/ZoomControlsFullScreen/index.mdx
Due: npm run lint:scripts

Fixed fullscreen map (#40)
  src/pages/ContextExamples/ZoomControlsFullScreen/Footer.test.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/Footer.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/MapProvider.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/ZoomControlsFullScreen.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/styles.module.css
  src/stories/pages/Context/ZoomControlsFullScreen/index.mdx
Due: npm run lint:scripts, npm run lint:styles

fullscreen zoomcontrols thumbnail updated and images optimized
  src/stories/assets/intro-00.png
  src/stories/assets/intro-01.png
  src/stories/assets/intro-02.png
  src/stories/assets/intro-03.png
  src/stories/assets/intro-04.png
  src/stories/assets/intro-05.png
  src/stories/assets/intro-06.png
Due: none

fullscreen zoomcontrols thumbnail updated and images optimized (#43)
  src/stories/assets/intro-00.png
  src/stories/assets/intro-01.png
  src/stories/assets/intro-02.png
  src/stories/assets/intro-03.png
  src/stories/assets/intro-04.png
  src/stories/assets/intro-05.png
  src/stories/assets/intro-06.png
Due: none

Merge (#47)
  src/pages/ReactLeaflet/BaseLayer/index.test.tsx
  src/pages/ReactLeaflet/BaseLayer/index.tsx
  src/stories/pages/Marker/index.mdx
  src/stories/pages/Marker/index.stories.ts
Due: npm run lint:scripts

remove old files
  src/pages/ReactLeaflet/BaseLayer/index.test.tsx
  src/pages/ReactLeaflet/BaseLayer/index.tsx
  src/stories/pages/Marker/index.mdx
  src/stories/pages/Marker/index.stories.ts
Due: npm run lint:scripts

fix min and max zoom levels
  src/pages/ContextExamples/Position/Map.tsx
  src/pages/ReactLeaflet/GeoJSONLayer/GeoJSONLayer.tsx
  src/pages/ReactLeaflet/WMSLayer/WMSLayer.tsx
Due: npm run lint:scripts

remove old files (#48)
  src/pages/ContextExamples/Position/Map.tsx
  src/pages/ReactLeaflet/BaseLayer/index.test.tsx
  src/pages/ReactLeaflet/BaseLayer/index.tsx
  src/pages/ReactLeaflet/GeoJSONLayer/GeoJSONLayer.tsx
  src/pages/ReactLeaflet/WMSLayer/WMSLayer.tsx
  src/stories/pages/Marker/index.mdx
  src/stories/pages/Marker/index.stories.ts
Due: npm run lint:scripts

Add files via upload
  CODEOWNERS.txt
Due: none

Set url base for prod build
  .github/workflows/deploy-github-pages.yml
  .storybook/main.ts
Due: npm run lint:scripts

consoles for debugging
  .storybook/main.ts
Due: npm run lint:scripts

Fix links for new URL
  .storybook/main.ts
  src/stories/Alternatives.mdx
  src/stories/Intro.mdx
  src/stories/Layers.mdx
  src/stories/MarkerClustering.mdx
  src/stories/pages/Context/Context.mdx
  src/stories/pages/Context/Position/index.mdx
  src/stories/pages/React/BaseLayer/index.mdx
  src/stories/pages/React/GeoJSONLayer/index.mdx
  src/stories/pages/React/Marker/index.mdx
  src/stories/pages/React/MarkerCluster/index.mdx
  src/stories/pages/React/MarkerClusterSpiderfy/index.mdx
  src/stories/pages/React/PolygonLayer/index.mdx
  src/stories/pages/React/PolylineLayer/index.mdx
  src/stories/pages/React/WFSLayer/index.mdx
  src/stories/pages/React/WMSLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/GeoJSONLayer/index.mdx
  src/stories/pages/ReactLeaflet/Marker/index.mdx
  src/stories/pages/ReactLeaflet/PolygonLayer/index.mdx
  src/stories/pages/ReactLeaflet/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/WFSLayer/index.mdx
  src/stories/pages/ReactLeaflet/WMSLayer/index.mdx
Due: npm run lint:scripts

Fix for incorrect url
  src/stories/Alternatives.mdx
Due: none
