Repository Amsterdam/ee-react-map-demos: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:scripts, npm run lint:styles

Fresh package-lock.json
  package-lock.json
Due: npm run lint:scripts

fix: update type
  src/pages/MarkerCluster/MarkerCluster.tsx
Due: npm run lint:scripts

fix: move some code around
  src/pages/MarkerCluster/MarkerCluster.tsx
Due: npm run lint:scripts

fix: update types
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/utils/createClusterIcon.ts
Due: npm run lint:scripts

fix: update types of spiderify
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.tsx
  src/pages/MarkerClusterSpiderfy/getMapData.test.ts
  src/pages/MarkerClusterSpiderfy/getMapData.ts
  src/pages/MarkerClusterSpiderfy/processFeatures.ts
  src/utils/toBoundsLiteral.ts
  src/utils/toGeoJSON.ts
Due: npm run lint:scripts

[5] Marker clustering - Suggestions (#33)
  package-lock.json
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/marker-cluster.css
  src/pages/MarkerCluster/types.ts
  src/pages/MarkerCluster/utils/createClusterIcon.ts
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.tsx
  src/pages/MarkerClusterSpiderfy/getMapData.test.ts
  src/pages/MarkerClusterSpiderfy/getMapData.ts
  src/pages/MarkerClusterSpiderfy/processFeatures.ts
  src/utils/toBoundsLiteral.ts
  src/utils/toGeoJSON.ts
Due: npm run lint:scripts, npm run lint:styles

stylelint fix
  src/pages/MarkerCluster/marker-cluster.css
Due: npm run lint:styles

[39] GeoJSON docs (#37)
  src/stories/pages/GeoJSONLayer/index.mdx
Due: none

TOC added
  src/stories/pages/MarkerCluster/index.mdx
  src/stories/pages/MarkerClusterSpiderfy/index.mdx
Due: none

MarkerCluster docs cleanup
  src/stories/pages/MarkerCluster/index.mdx
  src/stories/pages/MarkerClusterSpiderfy/index.mdx
Due: none

GeoJSONLayer docs
  src/stories/pages/GeoJSONLayer/index.stories.ts
  src/stories/pages/Marker/index.mdx
  src/stories/pages/WFSLayer/index.mdx
  src/stories/pages/WMSLayer/index.mdx
Due: npm run lint:scripts

Open external links in new window
  src/stories/pages/BaseLayer/index.mdx
  src/stories/pages/Marker/index.mdx
  src/stories/pages/PolygonLayer/index.mdx
  src/stories/pages/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/Marker/index.mdx
  src/stories/pages/ReactLeaflet/PolylineLayer/index.mdx
  src/stories/pages/WFSLayer/index.mdx
Due: none

Added GitHub repo page links to each docs
  src/stories/pages/BaseLayer/index.mdx
  src/stories/pages/Fullscreen/index.mdx
  src/stories/pages/Marker/index.mdx
  src/stories/pages/PolygonLayer/index.mdx
  src/stories/pages/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/Marker/index.mdx
  src/stories/pages/ReactLeaflet/PolygonLayer/index.mdx
  src/stories/pages/ReactLeaflet/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/WFSLayer/index.mdx
  src/stories/pages/WFSLayer/index.mdx
  src/stories/pages/WMSLayer/index.mdx
  src/stories/pages/ZoomControl/index.mdx
Due: none

Primary layers doc page clean up, use cases moved from individual docs
  src/stories/Icons.mdx
  src/stories/Layers.mdx
  src/stories/pages/BaseLayer/index.mdx
  src/stories/pages/Marker/index.mdx
  src/stories/pages/PolygonLayer/index.mdx
  src/stories/pages/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/Marker/index.mdx
  src/stories/pages/ReactLeaflet/PolygonLayer/index.mdx
  src/stories/pages/ReactLeaflet/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/WFSLayer/index.mdx
  src/stories/pages/WFSLayer/index.mdx
  src/stories/pages/WMSLayer/index.mdx
Due: none

Align how to implement links and numbering
  src/stories/pages/BaseLayer/index.mdx
  src/stories/pages/Fullscreen/index.mdx
  src/stories/pages/Fullscreen/index.stories.tsx
  src/stories/pages/GeoJSONLayer/index.mdx
  src/stories/pages/Marker/index.mdx
  src/stories/pages/MarkerCluster/index.mdx
  src/stories/pages/MarkerClusterSpiderfy/index.mdx
  src/stories/pages/PolygonLayer/index.mdx
  src/stories/pages/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/GeoJSONLayer/index.mdx
  src/stories/pages/ReactLeaflet/Marker/index.mdx
  src/stories/pages/ReactLeaflet/PolygonLayer/index.mdx
  src/stories/pages/ReactLeaflet/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/WFSLayer/index.mdx
  src/stories/pages/ReactLeaflet/WMSLayer/index.mdx
  src/stories/pages/WFSLayer/index.mdx
  src/stories/pages/WMSLayer/index.mdx
  src/stories/pages/ZoomControl/index.mdx
  src/stories/pages/ZoomControl/index.stories.tsx
Due: npm run lint:scripts

Remove console.log and cleanup code
  src/pages/ReactLeaflet/GeoJSONLayer/GeoJSONLayer.tsx
Due: npm run lint:scripts

Docs cleanup (#30)
  src/pages/ReactLeaflet/GeoJSONLayer/GeoJSONLayer.tsx
  src/stories/Icons.mdx
  src/stories/Layers.mdx
  src/stories/pages/BaseLayer/index.mdx
  src/stories/pages/Fullscreen/index.mdx
  src/stories/pages/Fullscreen/index.stories.tsx
  src/stories/pages/GeoJSONLayer/index.mdx
  src/stories/pages/GeoJSONLayer/index.stories.ts
  src/stories/pages/Marker/index.mdx
  src/stories/pages/MarkerCluster/index.mdx
  src/stories/pages/MarkerClusterSpiderfy/index.mdx
  src/stories/pages/PolygonLayer/index.mdx
  src/stories/pages/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/GeoJSONLayer/index.mdx
  src/stories/pages/ReactLeaflet/Marker/index.mdx
  src/stories/pages/ReactLeaflet/PolygonLayer/index.mdx
  src/stories/pages/ReactLeaflet/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/WFSLayer/index.mdx
  src/stories/pages/ReactLeaflet/WMSLayer/index.mdx
  src/stories/pages/WFSLayer/index.mdx
  src/stories/pages/WMSLayer/index.mdx
  src/stories/pages/ZoomControl/index.mdx
  src/stories/pages/ZoomControl/index.stories.tsx
Due: npm run lint:scripts

Typescript cleanup in CustomProperty map
  src/pages/MapContextExample/CustomProperty/Map.tsx
  src/pages/MapContextExample/CustomProperty/icons/customMarker.tsx
Due: npm run lint:scripts

Working multiselect context example
  src/pages/MapContextExample/MapContextExample.tsx
  src/pages/MapContextExample/MultiMarkerSelect/Alert.tsx
  src/pages/MapContextExample/MultiMarkerSelect/Map.tsx
  src/pages/MapContextExample/MultiMarkerSelect/MapContext.ts
  src/pages/MapContextExample/MultiMarkerSelect/MapProvider.tsx
  src/pages/MapContextExample/MultiMarkerSelect/MultiMarkerSelect.tsx
  src/pages/MapContextExample/MultiMarkerSelect/data.json
  src/pages/MapContextExample/MultiMarkerSelect/marker.css
  src/pages/MapContextExample/MultiMarkerSelect/types.ts
  src/pages/MapContextExample/Simple/MapContextExample.tsx
  src/pages/MapContextExample/SingleMarkerSelect/Alert.tsx
  src/pages/MapContextExample/styles.module.css
  src/stories/pages/MapContextExample/index.stories.tsx
Due: npm run lint:scripts, npm run lint:styles

Initial context examples
  src/components/Map/Map.tsx
  src/pages/MapContextExample/CustomProperty/Map.tsx
  src/pages/MapContextExample/CustomProperty/MapContext.ts
  src/pages/MapContextExample/CustomProperty/MapContextExample.tsx
  src/pages/MapContextExample/CustomProperty/MapProvider.tsx
  src/pages/MapContextExample/CustomProperty/icons/customMarker.tsx
  src/pages/MapContextExample/Map.tsx
  src/pages/MapContextExample/MapContext.ts
  src/pages/MapContextExample/MapContextExample.tsx
  src/pages/MapContextExample/MapProvider.tsx
  src/pages/MapContextExample/Simple/Map.tsx
  src/pages/MapContextExample/Simple/MapContext.ts
  src/pages/MapContextExample/Simple/MapContextExample.tsx
  src/pages/MapContextExample/Simple/MapProvider.tsx
  src/pages/MapContextExample/map.module.css
  src/pages/MapContextExample/styles.module.css
  src/stories/pages/MapContextExample/index.mdx
  src/stories/pages/MapContextExample/index.stories.tsx
Due: npm run lint:scripts, npm run lint:styles

Single marker select context example implemented minus tests
  src/pages/MapContextExample/SingleMarkerSelect/Alert.tsx
  src/pages/MapContextExample/SingleMarkerSelect/Map.tsx
  src/pages/MapContextExample/SingleMarkerSelect/MapContext.ts
  src/pages/MapContextExample/SingleMarkerSelect/MapProvider.tsx
  src/pages/MapContextExample/SingleMarkerSelect/SingleMarkerSelect.tsx
  src/pages/MapContextExample/SingleMarkerSelect/data.json
  src/pages/MapContextExample/SingleMarkerSelect/icons/customMarker.tsx
  src/pages/MapContextExample/SingleMarkerSelect/marker.css
  src/pages/MapContextExample/SingleMarkerSelect/types.ts
  src/stories/pages/MapContextExample/index.mdx
  src/stories/pages/MapContextExample/index.stories.tsx
Due: npm run lint:scripts, npm run lint:styles

hover and selected style states, fix selecting marker in customproperty example
  src/pages/MapContextExample/CustomProperty/Map.tsx
  src/pages/MapContextExample/CustomProperty/icons/customMarker.tsx
  src/pages/MapContextExample/CustomProperty/marker.css
Due: npm run lint:scripts, npm run lint:styles

Functional context examples minus final docs and tests
  src/pages/MapContextExample/MapContext.ts
  src/pages/MapContextExample/MapContextExample.tsx
  src/pages/MapContextExample/MultiMarkerSelect/Alert.tsx
  src/pages/MapContextExample/MultiMarkerSelect/Map.tsx
  src/pages/MapContextExample/MultiMarkerSelect/MapContext.ts
  src/pages/MapContextExample/MultiMarkerSelect/MapProvider.tsx
  src/pages/MapContextExample/Position/Alert.tsx
  src/pages/MapContextExample/Position/Map.tsx
  src/pages/MapContextExample/Position/MapContext.ts
  src/pages/MapContextExample/Position/MapProvider.tsx
  src/pages/MapContextExample/Position/Position.tsx
  src/pages/MapContextExample/Simple/Map.tsx
  src/pages/MapContextExample/Simple/MapContextExample.tsx
  src/pages/MapContextExample/Simple/MapProvider.tsx
  src/pages/MapContextExample/SingleMarkerSelect/Map.tsx
  src/stories/pages/MapContextExample/index.stories.tsx
Due: npm run lint:scripts

Reset changes to shared map component
  src/components/Map/Map.tsx
Due: npm run lint:scripts

Remove unused CSS
  src/pages/MapContextExample/MultiMarkerSelect/marker.css
Due: npm run lint:styles

Move zoomcontrol to reactcontextexamples
  src/components/Map/Map.tsx
  src/components/Map/MapStyles.module.css
  src/pages/Fullscreen/FullscreenPage.tsx
  src/pages/Fullscreen/FullscreenPageFooter.tsx
  src/pages/Fullscreen/FullscreenPageHeader.tsx
  src/pages/Fullscreen/FullscreenPageMap.tsx
  src/pages/Fullscreen/index.ts
  src/pages/MapContextExample/MapContextExample.tsx
  src/pages/MapContextExample/MultiMarkerSelect/MultiMarkerSelect.tsx
  src/pages/MapContextExample/ZoomControls/Controls.tsx
  src/pages/MapContextExample/ZoomControls/MapContext.ts
  src/pages/MapContextExample/ZoomControls/MapProvider.tsx
  src/pages/MapContextExample/ZoomControls/ZoomControls.tsx
  src/pages/MapContextExample/ZoomControls/controls.module.css
  src/stories/pages/MapContextExample/index.stories.tsx
Due: npm run lint:scripts, npm run lint:styles

Initial MultiMarkerSelect tests
  src/pages/MapContextExample/MultiMarkerSelect/Alert.test.tsx
  src/pages/MapContextExample/MultiMarkerSelect/Map.test.tsx
  src/pages/MapContextExample/MultiMarkerSelect/MapContext.test.tsx
  src/pages/MapContextExample/MultiMarkerSelect/MapContext.ts
Due: npm run lint:scripts

Final MapContextExample tests
  src/pages/MapContextExample/MapContextExample.test.tsx
  src/pages/MapContextExample/MultiMarkerSelect/MapProvider.test.tsx
  src/pages/MapContextExample/MultiMarkerSelect/MapProvider.tsx
  src/pages/MapContextExample/MultiMarkerSelect/MultiMarkerSelect.test.tsx
  src/pages/MapContextExample/Position/Alert.test.tsx
  src/pages/MapContextExample/Position/Map.test.tsx
  src/pages/MapContextExample/Position/MapContext.test.tsx
  src/pages/MapContextExample/Position/MapContext.ts
  src/pages/MapContextExample/Position/MapProvider.test.tsx
  src/pages/MapContextExample/Position/MapProvider.tsx
  src/pages/MapContextExample/Position/Position.test.tsx
  src/pages/MapContextExample/SingleMarkerSelect/Alert.test.tsx
  src/pages/MapContextExample/SingleMarkerSelect/Map.test.tsx
  src/pages/MapContextExample/SingleMarkerSelect/Map.tsx
  src/pages/MapContextExample/SingleMarkerSelect/MapContext.test.tsx
  src/pages/MapContextExample/SingleMarkerSelect/MapContext.ts
  src/pages/MapContextExample/SingleMarkerSelect/MapProvider.test.tsx
  src/pages/MapContextExample/SingleMarkerSelect/MapProvider.tsx
  src/pages/MapContextExample/SingleMarkerSelect/SingleMarkerSelect.test.tsx
  src/pages/MapContextExample/SingleMarkerSelect/icons/customMarker.test.tsx
  src/pages/MapContextExample/ZoomControls/Controls.test.tsx
  src/pages/MapContextExample/ZoomControls/MapContext.test.tsx
  src/pages/MapContextExample/ZoomControls/MapProvider.test.tsx
  src/pages/MapContextExample/ZoomControls/ZoomControls.test.tsx
Due: npm run lint:scripts

Fix Fullpage example
  src/pages/MapContextExample/ZoomControls/MapProvider.tsx
  src/pages/MapContextExample/ZoomControls/ZoomControls.tsx
Due: npm run lint:scripts

Docs reordered and new category for context
  .storybook/main.ts
  .storybook/preview.tsx
  src/stories/pages/Context/Context.mdx
  src/stories/pages/Context/MultiMarkerSelect/index.mdx
  src/stories/pages/Context/MultiMarkerSelect/index.stories.tsx
  src/stories/pages/Context/Position/index.mdx
  src/stories/pages/Context/Position/index.stories.tsx
  src/stories/pages/Context/SingleMarkerSelect/index.mdx
  src/stories/pages/Context/SingleMarkerSelect/index.stories.tsx
  src/stories/pages/Context/ZoomControls/index.mdx
  src/stories/pages/Context/ZoomControls/index.stories.tsx
  src/stories/pages/React/BaseLayer/index.mdx
  src/stories/pages/React/BaseLayer/index.stories.ts
  src/stories/pages/React/GeoJSONLayer/index.mdx
  src/stories/pages/React/GeoJSONLayer/index.stories.ts
  src/stories/pages/React/Marker/index.mdx
  src/stories/pages/React/Marker/index.stories.ts
  src/stories/pages/React/PolygonLayer/index.mdx
  src/stories/pages/React/PolygonLayer/index.stories.ts
  src/stories/pages/React/PolylineLayer/index.mdx
  src/stories/pages/React/PolylineLayer/index.stories.ts
  src/stories/pages/React/WFSLayer/index.mdx
  src/stories/pages/React/WFSLayer/index.stories.ts
  src/stories/pages/React/WMSLayer/index.mdx
  src/stories/pages/React/WMSLayer/index.stories.ts
Due: npm run lint:scripts

Context Multimarkerselect docs and cleanup
  package-lock.json
  src/pages/MapContextExample/MultiMarkerSelect/Map.tsx
  src/stories/pages/Context/Context.mdx
  src/stories/pages/Context/MultiMarkerSelect/index.mdx
  src/stories/pages/MapContextExample/index.mdx
  src/stories/pages/React/BaseLayer/index.mdx
Due: npm run lint:scripts

Context main docs cleaned up
  src/stories/pages/Context/Context.mdx
Due: none

Remove old MapContextExample storybook dir
  src/stories/pages/MapContextExample/index.mdx
  src/stories/pages/MapContextExample/index.stories.tsx
Due: npm run lint:scripts

Context docs per example
  src/pages/MapContextExample/MultiMarkerSelect/Map.tsx
  src/pages/MapContextExample/SingleMarkerSelect/Map.tsx
  src/stories/pages/Context/MultiMarkerSelect/index.mdx
  src/stories/pages/Context/Position/index.mdx
  src/stories/pages/Context/SingleMarkerSelect/index.mdx
  src/stories/pages/Context/ZoomControls/index.mdx
Due: npm run lint:scripts

Final context docs
  src/pages/MapContextExample/MapContextExample.tsx
  src/pages/MapContextExample/MultiMarkerSelect/MapContext.test.tsx
  src/pages/MapContextExample/MultiMarkerSelect/MapProvider.tsx
  src/pages/MapContextExample/Position/MapContext.test.tsx
  src/pages/MapContextExample/Position/MapProvider.tsx
  src/pages/MapContextExample/SingleMarkerSelect/MapContext.test.tsx
  src/pages/MapContextExample/SingleMarkerSelect/MapProvider.tsx
  src/pages/MapContextExample/ZoomControls/MapContext.test.tsx
  src/pages/MapContextExample/ZoomControls/MapProvider.tsx
  src/stories/pages/Context/Context.mdx
Due: npm run lint:scripts

Missing code snippets and links for multiplemarkerselect
  src/stories/pages/Context/MultiMarkerSelect/index.mdx
Due: none

Fullscreen example merged into context
  .storybook/preview.tsx
  src/pages/MapContextExample/ZoomControlsFullScreen/Footer.test.tsx
  src/pages/MapContextExample/ZoomControlsFullScreen/Footer.tsx
  src/pages/MapContextExample/ZoomControlsFullScreen/Header.test.tsx
  src/pages/MapContextExample/ZoomControlsFullScreen/Header.tsx
  src/pages/MapContextExample/ZoomControlsFullScreen/MapContext.test.tsx
  src/pages/MapContextExample/ZoomControlsFullScreen/MapContext.ts
  src/pages/MapContextExample/ZoomControlsFullScreen/MapProvider.test.tsx
  src/pages/MapContextExample/ZoomControlsFullScreen/MapProvider.tsx
  src/pages/MapContextExample/ZoomControlsFullScreen/ZoomControls.test.tsx
  src/pages/MapContextExample/ZoomControlsFullScreen/ZoomControls.tsx
  src/pages/MapContextExample/ZoomControlsFullScreen/ZoomControlsFullScreen.test.tsx
  src/pages/MapContextExample/ZoomControlsFullScreen/ZoomControlsFullScreen.tsx
  src/pages/MapContextExample/ZoomControlsFullScreen/styles.module.css
  src/stories/pages/Context/ZoomControls/index.mdx
  src/stories/pages/Context/ZoomControlsFullScreen/index.mdx
  src/stories/pages/Context/ZoomControlsFullScreen/index.stories.tsx
Due: npm run lint:scripts, npm run lint:styles

Z-index note added to context docs
  src/pages/ContextExamples/ZoomControls/controls.module.css
  src/pages/ContextExamples/ZoomControlsFullScreen/styles.module.css
  src/pages/ContextExamples/styles.module.css
  src/stories/pages/Context/MultiMarkerSelect/index.mdx
  src/stories/pages/Context/Position/index.mdx
  src/stories/pages/Context/SingleMarkerSelect/index.mdx
  src/stories/pages/Context/ZoomControls/index.mdx
  src/stories/pages/Context/ZoomControlsFullScreen/index.mdx
Due: npm run lint:styles

Path conditions:
  npm run lint:scripts: any of: ./**/*.{ts,tsx,json}
  npm run lint:styles: any of: ./**/*.{css,scss}
