Repository Amsterdam/ee-react-map-demos: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:scripts, npm run lint:styles

.lintstagedrc:

{
  "./**/*.{ts,tsx,json}": "npm run lint:scripts",
  "./**/*.{css,scss}": "npm run lint:styles"
}

Initial storybook setup
  .eslintrc
  .gitignore
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  declarations.d.ts
  package-lock.json
  package.json
  src/stories/Alternatives.mdx
  src/stories/CoordinateReferenceSystems.mdx
  src/stories/Intro.mdx
  src/stories/Requirements.mdx
  src/stories/assets/accessibility.png
  src/stories/assets/accessibility.svg
  src/stories/assets/addon-library.png
  src/stories/assets/assets.png
  src/stories/assets/avif-test-image.avif
  src/stories/assets/context.png
  src/stories/assets/discord.svg
  src/stories/assets/docs.png
  src/stories/assets/figma-plugin.png
  src/stories/assets/github.svg
  src/stories/assets/share.png
  src/stories/assets/styling.png
  src/stories/assets/testing.png
  src/stories/assets/theming.png
  src/stories/assets/tutorials.svg
  src/stories/assets/youtube.svg
Due: npm run lint:scripts

BaseLayer example setup for Leaflet
  package-lock.json
  package.json
  src/components/NavigationMenu/index.test.tsx
  src/components/NavigationMenu/index.tsx
  src/components/NavigationMenu/styles.module.css
  src/pages/BaseLayer/index.test.tsx
  src/pages/BaseLayer/index.tsx
  src/pages/BaseLayer/styles.module.css
  src/pages/Home/index.test.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styles.module.css
  src/routes.tsx
  src/stories/pages/BaseLayer/index.mdx
  src/stories/pages/BaseLayer/index.stories.ts
  src/utils/getCrsRd.ts
Due: npm run lint:scripts, npm run lint:styles

BaseLayer example setup for React-leaflet
  package-lock.json
  package.json
  src/assets/icons/housing.svg
  src/components/NavigationMenu/index.test.tsx
  src/components/NavigationMenu/index.tsx
  src/pages/Contact/index.test.tsx
  src/pages/Contact/index.tsx
  src/pages/ReactLeaflet/BaseLayer/index.test.tsx
  src/pages/ReactLeaflet/BaseLayer/index.tsx
  src/pages/ReactLeaflet/BaseLayer/styles.module.css
  src/routes.tsx
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

basic deploy to github pages action added
  .github/workflows/deploy-github-pages.yml
Due: none

add static storybook path
  .github/workflows/deploy-github-pages.yml
Due: none

Fix for storybook to github pages version
  .github/workflows/deploy-github-pages.yml
Due: none

latest build
  storybook-static/assets/Alternatives-CYCLrEXb.js
  storybook-static/assets/Color-RQJUDNI5-BXSFiy0O.js
  storybook-static/assets/Color-RQJUDNI5-Q5jER5Oe.js
  storybook-static/assets/CoordinateReferenceSystems-BCALE3es.js
  storybook-static/assets/DocsRenderer-K4EAMTCU-CgVg6Z4M.js
  storybook-static/assets/DocsRenderer-K4EAMTCU-D-QtDb0E.js
  storybook-static/assets/Intro-CoYtrVsY.js
  storybook-static/assets/Intro-D-vvbwOr.js
  storybook-static/assets/Requirements-CESuZcJ8.js
  storybook-static/assets/WithTooltip-Y7J54OF7-B3tBXo4w.js
  storybook-static/assets/WithTooltip-Y7J54OF7-DsAjv46U.js
  storybook-static/assets/formatter-B5HCVTEV-DgErRIoy.js
  storybook-static/assets/getCrsRd-CT3l7UQo.js
  storybook-static/assets/getCrsRd-CkzE2KbR.js
  storybook-static/assets/getCrsRd-HupOsEJb.css
  storybook-static/assets/iframe-Cxzq8kIa.js
  storybook-static/assets/iframe-DhiI_5Bk.js
  storybook-static/assets/index-B50_EZNN.js
  storybook-static/assets/index-Bn7NjsZi.js
  storybook-static/assets/index-C1eDXqEW.js
  storybook-static/assets/index-C7jBxHIb.css
  storybook-static/assets/index-CMaoj8qb.css
  storybook-static/assets/index-CbdwVt_X.js
  storybook-static/assets/index.stories-BRFPbm5v.js
  storybook-static/assets/index.stories-CyIgkr4k.js
  storybook-static/assets/preview-CE1KXwUQ.js
  storybook-static/assets/preview-DyB9dos3.js
  storybook-static/assets/syntaxhighlighter-JOJW2KGS-0pU6OL7R.js
  storybook-static/assets/syntaxhighlighter-JOJW2KGS-Ctz9-L4H.js
  storybook-static/iframe.html
  storybook-static/index.json
  storybook-static/project.json
Due: npm run lint:scripts, npm run lint:styles

separate lint-test and deploy actions
  .eslintignore
  .github/workflows/deploy-github-pages.yml
  .github/workflows/lint-test.yml
  .github/workflows/main.yml
Due: none

exclude storybook-static from stylelint
  .stylelintignore
Due: none

Fix typo
  .github/workflows/deploy-github-pages.yml
Due: none

target lint-test action on all branches except main
  .github/workflows/lint-test.yml
Due: none

Intentional commit to break linting
  src/containers/App/index.tsx
Due: npm run lint:scripts

Resolve lint error
  src/containers/App/index.tsx
Due: npm run lint:scripts

Workflow for github pages publishing added
  .github/workflows/deploy-github-pages.yml
  .github/workflows/lint-test.yml
  .github/workflows/main.yml
Due: none

Set storybook github pages target branch to main
  .github/workflows/deploy-github-pages.yml
  .github/workflows/lint-test.yml
Due: none

Initial large data docs
  src/stories/LargeData.mdx
Due: none

Large data docs updated
  src/stories/LargeData.mdx
Due: none

Workflow for github pages publishing added (#6)
  .github/workflows/deploy-github-pages.yml
  .github/workflows/lint-test.yml
  .github/workflows/main.yml
Due: none

storybook logo changed to gemeente
  .storybook/manager.ts
  .storybook/static/amsterdam.svg
  package-lock.json
  package.json
Due: npm run lint:scripts

storybook updated to 8.1.0
  .storybook/main.ts
  package-lock.json
  package.json
Due: npm run lint:scripts

Better description for BaseLayer
  src/stories/pages/BaseLayer/index.mdx
Due: none

vite and vitest updated
  package-lock.json
  package.json
Due: npm run lint:scripts

Remove chromatic storybook addon
  .storybook/main.ts
  package-lock.json
  package.json
Due: npm run lint:scripts

Further favicon cleanup
  .storybook/manager-head.html
  favicon.ico
  favicon.svg
  index.html
Due: none

CRS handling explained in baselayer docs
  src/stories/CoordinateReferenceSystems.mdx
  src/stories/pages/BaseLayer/index.mdx
Due: none

storybook favicon changed to gemeente
  .storybook/main.ts
  .storybook/manager-head.html
  .storybook/static/favicon.svg
  src/stories/Alternatives.mdx
Due: npm run lint:scripts

Cleanup and align wgs 84 naming
  src/stories/CoordinateReferenceSystems.mdx
  src/stories/pages/BaseLayer/index.mdx
Due: none

Make storybook primary script, remove vite build and non-map components
  favicon.svg
  index.html
  package-lock.json
  package.json
  src/assets/icons/housing.svg
  src/components/Header/index.test.tsx
  src/components/Header/index.tsx
  src/components/NavigationMenu/index.test.tsx
  src/components/NavigationMenu/index.tsx
  src/components/NavigationMenu/styles.module.css
  src/containers/App/index.test.tsx
  src/containers/App/index.tsx
  src/containers/App/styles.module.css
  src/index.tsx
  src/pages/Contact/index.test.tsx
  src/pages/Contact/index.tsx
  src/routes.tsx
  src/style.css
Due: npm run lint:scripts, npm run lint:styles

fix for package.json
  package-lock.json
  package.json
Due: npm run lint:scripts

added declaration for module.css files to resolve warning
  declarations.d.ts
Due: npm run lint:scripts

Component mapRef changed to mapInstance state and new ref instance introduced to fix duplicate effects in strictmode
  src/pages/BaseLayer/index.tsx
Due: npm run lint:scripts

Import amsterdam logo from design-system-assets than local file
  .storybook/manager.ts
  .storybook/static/amsterdam.svg
Due: npm run lint:scripts

BaseLayer example setup for Leaflet (#3)
  .storybook/main.ts
  .storybook/manager-head.html
  .storybook/manager.ts
  .storybook/static/favicon.svg
  declarations.d.ts
  favicon.ico
  index.html
  package-lock.json
  package.json
  src/assets/icons/housing.svg
  src/components/Header/index.test.tsx
  src/components/Header/index.tsx
  src/components/NavigationMenu/index.test.tsx
  src/components/NavigationMenu/index.tsx
  src/components/NavigationMenu/styles.module.css
  src/containers/App/index.test.tsx
  src/containers/App/index.tsx
  src/containers/App/styles.module.css
  src/index.tsx
  src/pages/BaseLayer/index.test.tsx
  src/pages/BaseLayer/index.tsx
  src/pages/BaseLayer/styles.module.css
  src/pages/Contact/index.test.tsx
  src/pages/Contact/index.tsx
  src/pages/Home/index.test.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styles.module.css
  src/routes.tsx
  src/stories/Alternatives.mdx
  src/stories/CoordinateReferenceSystems.mdx
  src/stories/pages/BaseLayer/index.mdx
  src/stories/pages/BaseLayer/index.stories.ts
  src/style.css
  src/utils/getCrsRd.ts
Due: npm run lint:scripts, npm run lint:styles

BaseLayer example setup for Leaflet
  package-lock.json
Due: npm run lint:scripts

Further favicon cleanup
  favicon.svg
Due: none

storybook logo changed to gemeente
  .storybook/static/amsterdam.svg
  package-lock.json
Due: npm run lint:scripts

storybook updated to 8.1.0
  package-lock.json
Due: npm run lint:scripts

vite and vitest updated
  package-lock.json
Due: npm run lint:scripts
