Repository Amsterdam/ee-react-map-demos: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:scripts, npm run lint:styles

.lintstagedrc:

{
  "./**/*.{ts,tsx,json}": "npm run lint:scripts",
  "./**/*.{css,scss}": "npm run lint:styles"
}

Revert github pages branch target back to main
  .github/workflows/deploy-github-pages.yml
Due: none

Fix for zoomcontrol links
  src/stories/pages/Context/Context.mdx
Due: none

Marker icon link fix
  src/stories/pages/React/Marker/index.mdx
Due: none

Fix for markercluster getcrsrd link
  src/stories/pages/React/MarkerCluster/index.mdx
Due: none

Fix marker clustering spiderfy links
  src/stories/pages/React/MarkerClusterSpiderfy/index.mdx
Due: none

Fixes for react-leaflet links
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/GeoJSONLayer/index.mdx
Due: none

Fix for BaseLayer CRS link
  src/stories/pages/React/BaseLayer/index.mdx
Due: none

Fix for BaseLayer CRS link (#53)
  src/stories/pages/React/BaseLayer/index.mdx
Due: none

Fix for BaseLayer CRS link (#53) (#54)
  src/stories/pages/React/BaseLayer/index.mdx
Due: none

Typo corrections in main doc files
  src/stories/Alternatives.mdx
  src/stories/Icons.mdx
  src/stories/Testing.mdx
Due: none

Typo corrections in main doc files (#55)
  src/stories/Alternatives.mdx
  src/stories/Icons.mdx
  src/stories/Testing.mdx
Due: none

correct file format and use lower case for team designation
  CODEOWNERS
  CODEOWNERS.txt
Due: none

Chore/ COM-176 file CODEOWNERS added (#50)
  CODEOWNERS
Due: none

Remove url path from config
  .storybook/main.ts
Due: npm run lint:scripts

Remove url path from config (#58)
  .storybook/main.ts
Due: npm run lint:scripts

Update lint-staged to resolve braces security vulnerability
  package-lock.json
  package.json
Due: npm run lint:scripts

README updated
  README.md
Due: none

team text change
  README.md
Due: none

README updated (#61)
  README.md
Due: none

Bump vite from 5.3.3 to 5.4.6 (#68)
  package-lock.json
  package.json
Due: npm run lint:scripts

fix: two typos fixed
  src/stories/pages/React/GeoJSONLayer/index.mdx
  src/stories/pages/React/MarkerClusterSpiderfy/index.mdx
Due: none

fix: two typos fixed (#73)
  src/stories/pages/React/GeoJSONLayer/index.mdx
  src/stories/pages/React/MarkerClusterSpiderfy/index.mdx
Due: none

move zoomcontrol buttons from map container child to same level to fix click event
  src/pages/ContextExamples/ZoomControls/MapProvider.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/MapProvider.tsx
Due: npm run lint:scripts

move zoomcontrol buttons from map container child to same level to fix click event (#75)
  src/pages/ContextExamples/ZoomControls/MapProvider.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/MapProvider.tsx
Due: npm run lint:scripts

NPM updates and some changes to component props
  package-lock.json
  package.json
  src/pages/ContextExamples/ZoomControls/Controls.tsx
  src/pages/ContextExamples/ZoomControls/controls.module.css
  src/pages/ContextExamples/ZoomControlsFullScreen/Header.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/ZoomControls.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/styles.module.css
Due: npm run lint:scripts, npm run lint:styles

fresh package-lock
  package-lock.json
Due: npm run lint:scripts

fresh package-lock (#80)
  package-lock.json
Due: npm run lint:scripts

fix Husky warning in preparation for v10
  .husky/pre-commit
Due: none

fix Husky warning in preparation for v10 (#81)
  .husky/pre-commit
Due: none

workflow permissions
  .github/workflows/lint-test.yml
Due: none

workflow permissions (#82)
  .github/workflows/lint-test.yml
Due: none

vite and @amsterdam/design-system updated
  package-lock.json
  package.json
  src/pages/ContextExamples/Position/Alert.tsx
  src/pages/ContextExamples/SingleMarkerSelect/Map.tsx
  src/pages/ContextExamples/ZoomControls/Controls.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/Header.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/ZoomControls.tsx
Due: npm run lint:scripts

vite and @amsterdam/design-system updated (#85)
  package-lock.json
  package.json
  src/pages/ContextExamples/Position/Alert.tsx
  src/pages/ContextExamples/SingleMarkerSelect/Map.tsx
  src/pages/ContextExamples/ZoomControls/Controls.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/Header.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/ZoomControls.tsx
Due: npm run lint:scripts

Update team channel references
  README.md
Due: none

Update Intro.mdx
  src/stories/Intro.mdx
Due: none

Update team channel references (#86)
  README.md
  src/stories/Intro.mdx
Due: none

codeowners file updated
  CODEOWNERS
Due: none

Update CODEOWNERS
  CODEOWNERS
Due: none

Upgrade vitest
  package.json
Due: npm run lint:scripts
