Repository Amsterdam/ee-react-map-demos: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:scripts, npm run lint:styles

Update dependencies
  package-lock.json
Due: npm run lint:scripts

Fix mocking of
  src/pages/MarkerClusterSpiderfy/getMapData.test.ts
Due: npm run lint:scripts

Fix mocking of `Supercluster` class
  src/pages/MarkerCluster/MarkerCluster.test.tsx
Due: npm run lint:scripts

add window.alert mock to resolve vitest 4 happy-dom issue
  test/vitest-setup.ts
Due: npm run lint:scripts

update supercluster mock to resolve vitest 4 failing test
  src/pages/MarkerClusterSpiderfy/getMapData.test.ts
Due: npm run lint:scripts

Task/update dependencies (#96)
  package-lock.json
  package.json
  src/pages/MarkerCluster/MarkerCluster.test.tsx
  src/pages/MarkerClusterSpiderfy/getMapData.test.ts
  test/vitest-setup.ts
Due: npm run lint:scripts

fix for bad regex in BaseLayer test
  src/pages/BaseLayer/BaseLayer.test.tsx
Due: npm run lint:scripts

fix for bad regex in BaseLayer test (#98)
  src/pages/BaseLayer/BaseLayer.test.tsx
Due: npm run lint:scripts

replace z-index usage with isolation: isolate on map container
  src/pages/ContextExamples/ZoomControls/controls.module.css
  src/pages/ContextExamples/ZoomControlsFullScreen/styles.module.css
  src/pages/ContextExamples/map.module.css
  src/pages/ContextExamples/styles.module.css
  src/stories/pages/Context/MultiMarkerSelect/index.mdx
  src/stories/pages/Context/Position/index.mdx
  src/stories/pages/Context/SingleMarkerSelect/index.mdx
  src/stories/pages/Context/ZoomControls/index.mdx
  src/stories/pages/Context/ZoomControlsFullScreen/index.mdx
Due: npm run lint:styles

replace z-index usage with isolation: isolate on map container (#99)
  src/pages/ContextExamples/ZoomControls/controls.module.css
  src/pages/ContextExamples/ZoomControlsFullScreen/styles.module.css
  src/pages/ContextExamples/map.module.css
  src/pages/ContextExamples/styles.module.css
  src/stories/pages/Context/MultiMarkerSelect/index.mdx
  src/stories/pages/Context/Position/index.mdx
  src/stories/pages/Context/SingleMarkerSelect/index.mdx
  src/stories/pages/Context/ZoomControls/index.mdx
  src/stories/pages/Context/ZoomControlsFullScreen/index.mdx
Due: npm run lint:styles

implement import type to resolve new verbatimModuleSyntax ts rule
  src/pages/ContextExamples/MultiMarkerSelect/Map.test.tsx
  src/pages/ContextExamples/MultiMarkerSelect/Map.tsx
  src/pages/ContextExamples/MultiMarkerSelect/MapContext.test.tsx
  src/pages/ContextExamples/MultiMarkerSelect/MapContext.ts
  src/pages/ContextExamples/MultiMarkerSelect/MapProvider.tsx
  src/pages/ContextExamples/MultiMarkerSelect/types.ts
  src/pages/ContextExamples/Position/Alert.test.tsx
  src/pages/ContextExamples/Position/MapContext.test.tsx
  src/pages/ContextExamples/Position/MapContext.ts
  src/pages/ContextExamples/Position/MapProvider.tsx
  src/pages/ContextExamples/SingleMarkerSelect/Map.test.tsx
  src/pages/ContextExamples/SingleMarkerSelect/Map.tsx
  src/pages/ContextExamples/SingleMarkerSelect/MapContext.test.tsx
  src/pages/ContextExamples/SingleMarkerSelect/MapContext.ts
  src/pages/ContextExamples/SingleMarkerSelect/MapProvider.tsx
  src/pages/ContextExamples/SingleMarkerSelect/icons/customMarker.tsx
  src/pages/ContextExamples/SingleMarkerSelect/types.ts
  src/pages/ContextExamples/ZoomControls/MapContext.test.tsx
  src/pages/ContextExamples/ZoomControls/MapProvider.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/MapContext.test.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/MapProvider.tsx
  src/pages/GeoJSONLayer/GeoJSONLayer.tsx
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/utils/createClusterIcon.test.ts
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.tsx
  src/pages/MarkerClusterSpiderfy/getMapData.test.ts
  src/pages/MarkerClusterSpiderfy/getMapData.ts
  src/pages/MarkerClusterSpiderfy/processFeatures.test.ts
  src/pages/MarkerClusterSpiderfy/processFeatures.ts
  src/pages/MarkerClusterSpiderfy/utils/createClusterIcon.test.ts
  src/pages/MarkerClusterSpiderfy/utils/createClusterShapes.ts
  src/pages/PolygonLayer/PolygonLayer.tsx
  src/pages/PolylineLayer/PolylineLayer.tsx
  src/pages/ReactLeaflet/GeoJSONLayer/GeoJSONLayer.tsx
  src/pages/ReactLeaflet/PolylineLayer/PolylineLayer.tsx
  src/utils/getCrsRd.ts
  tsconfig.json
Due: npm run lint:scripts

resolve MarkerCluster supercluster mock ts issues
  src/pages/MarkerCluster/MarkerCluster.test.tsx
Due: npm run lint:scripts

verbatimModuleSyntax + import type fixes (#100)
  src/pages/ContextExamples/MultiMarkerSelect/Map.test.tsx
  src/pages/ContextExamples/MultiMarkerSelect/Map.tsx
  src/pages/ContextExamples/MultiMarkerSelect/MapContext.test.tsx
  src/pages/ContextExamples/MultiMarkerSelect/MapContext.ts
  src/pages/ContextExamples/MultiMarkerSelect/MapProvider.tsx
  src/pages/ContextExamples/MultiMarkerSelect/types.ts
  src/pages/ContextExamples/Position/Alert.test.tsx
  src/pages/ContextExamples/Position/MapContext.test.tsx
  src/pages/ContextExamples/Position/MapContext.ts
  src/pages/ContextExamples/Position/MapProvider.tsx
  src/pages/ContextExamples/SingleMarkerSelect/Map.test.tsx
  src/pages/ContextExamples/SingleMarkerSelect/Map.tsx
  src/pages/ContextExamples/SingleMarkerSelect/MapContext.test.tsx
  src/pages/ContextExamples/SingleMarkerSelect/MapContext.ts
  src/pages/ContextExamples/SingleMarkerSelect/MapProvider.tsx
  src/pages/ContextExamples/SingleMarkerSelect/icons/customMarker.tsx
  src/pages/ContextExamples/SingleMarkerSelect/types.ts
  src/pages/ContextExamples/ZoomControls/MapContext.test.tsx
  src/pages/ContextExamples/ZoomControls/MapProvider.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/MapContext.test.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/MapProvider.tsx
  src/pages/GeoJSONLayer/GeoJSONLayer.tsx
  src/pages/MarkerCluster/MarkerCluster.test.tsx
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/utils/createClusterIcon.test.ts
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.tsx
  src/pages/MarkerClusterSpiderfy/getMapData.test.ts
  src/pages/MarkerClusterSpiderfy/getMapData.ts
  src/pages/MarkerClusterSpiderfy/processFeatures.test.ts
  src/pages/MarkerClusterSpiderfy/processFeatures.ts
  src/pages/MarkerClusterSpiderfy/utils/createClusterIcon.test.ts
  src/pages/MarkerClusterSpiderfy/utils/createClusterShapes.ts
  src/pages/PolygonLayer/PolygonLayer.tsx
  src/pages/PolylineLayer/PolylineLayer.tsx
  src/pages/ReactLeaflet/GeoJSONLayer/GeoJSONLayer.tsx
  src/pages/ReactLeaflet/PolylineLayer/PolylineLayer.tsx
  src/utils/getCrsRd.ts
  tsconfig.json
Due: npm run lint:scripts

fix for BaseLayer test
  src/pages/BaseLayer/BaseLayer.test.tsx
Due: npm run lint:scripts

deploy feature branches workflow
  .github/workflows/deploy-feature-branches.yml
Due: none

workflow build cmd fix
  .github/workflows/deploy-feature-branches.yml
Due: none

github workflow storybook path fix
  .github/workflows/deploy-feature-branches.yml
Due: none

add comparison BaseLayerRD page
  src/pages/BaseLayerRD/BaseLayerRD.test.tsx
  src/pages/BaseLayerRD/BaseLayerRD.tsx
  src/pages/BaseLayerRD/styles.module.css
  src/stories/pages/React/BaseLayerRD/index.mdx
  src/stories/pages/React/BaseLayerRD/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

remove feature deploy workflow
  .github/workflows/deploy-feature-branches.yml
Due: none

initial BaseLayerWGS84, docs wip
  src/pages/BaseLayerWGS84/BaseLayerWGS84.test.tsx
  src/pages/BaseLayerWGS84/BaseLayerWGS84.tsx
  src/pages/BaseLayerWGS84/styles.module.css
  src/stories/pages/React/BaseLayerWGS84/index.mdx
  src/stories/pages/React/BaseLayerWGS84/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

typescript bumped to 6.0.3
  package-lock.json
  package.json
  tsconfig.json
  vite.config.ts
Due: npm run lint:scripts

resolve broken ReactLeaflet/WMSLayer test
  src/pages/ReactLeaflet/WMSLayer/WMSLayer.test.tsx
Due: npm run lint:scripts

remove unnecessary JSX.Element type from components
  src/pages/ReactLeaflet/BaseLayer/BaseLayer.tsx
  src/pages/ReactLeaflet/GeoJSONLayer/GeoJSONLayer.tsx
  src/pages/ReactLeaflet/Marker/Marker.tsx
  src/pages/ReactLeaflet/PolygonLayer/PolygonLayer.tsx
  src/pages/ReactLeaflet/PolylineLayer/PolylineLayer.tsx
  src/pages/ReactLeaflet/WMSLayer/WMSLayer.tsx
Due: npm run lint:scripts

type fixes
  src/pages/WFSLayer/WFSLayer.tsx
  src/pages/WFSLayer/useLeafletMap.test.tsx
  src/pages/WFSLayer/useLeafletMap.ts
  vite.config.ts
Due: npm run lint:scripts

update gh workflows and node v
  .github/workflows/deploy-github-pages.yml
  .github/workflows/lint-test.yml
  package-lock.json
Due: npm run lint:scripts

eslint bumped to v9
  .eslintignore
  .eslintrc
  eslint.config.mjs
  package-lock.json
  package.json
Due: npm run lint:scripts

design-system bumped to 4.2.0
  .storybook/manager.ts
  .storybook/preview.css
  .storybook/preview.tsx
  declarations.d.ts
  package.json
  src/pages/ContextExamples/DesignSystemPageZoomControls/DesignSystemPageZoomControls.test.tsx
  src/pages/ContextExamples/DesignSystemPageZoomControls/DesignSystemPageZoomControls.tsx
  src/pages/ContextExamples/DesignSystemPageZoomControls/Header.test.tsx
  src/pages/ContextExamples/DesignSystemPageZoomControls/Header.tsx
  src/pages/ContextExamples/DesignSystemPageZoomControls/MapContext.test.tsx
  src/pages/ContextExamples/DesignSystemPageZoomControls/MapContext.ts
  src/pages/ContextExamples/DesignSystemPageZoomControls/MapProvider.test.tsx
  src/pages/ContextExamples/DesignSystemPageZoomControls/MapProvider.tsx
  src/pages/ContextExamples/DesignSystemPageZoomControls/ZoomControls.test.tsx
  src/pages/ContextExamples/DesignSystemPageZoomControls/ZoomControls.tsx
  src/pages/ContextExamples/DesignSystemPageZoomControls/styles.module.css
  src/pages/ContextExamples/ZoomControlsFullScreen/ZoomControlsFullScreen.test.tsx
  src/pages/ContextExamples/ZoomControlsFullScreen/ZoomControlsFullScreen.tsx
  src/stories/pages/Context/Context.mdx
  src/stories/pages/Context/DesignSystemPageZoomControls/index.mdx
  src/stories/pages/Context/DesignSystemPageZoomControls/index.stories.tsx
  tsconfig.json
Due: npm run lint:scripts, npm run lint:styles

design-system styled intro page wip
  src/stories/Intro.css
  src/stories/Intro.mdx
Due: npm run lint:styles

styling fixes for new intro page headings, paragraph and links
  .prettierignore
  src/stories/Intro.css
  src/stories/Intro.mdx
  src/stories/Layers.mdx
  src/stories/Testing.mdx
  src/stories/pages/Context/DesignSystemPageZoomControls/index.mdx
  src/stories/pages/React/BaseLayer/index.mdx
  src/stories/pages/React/Marker/index.mdx
  src/stories/pages/React/PolygonLayer/index.mdx
  src/stories/pages/React/PolylineLayer/index.mdx
  src/stories/pages/React/WFSLayer/index.mdx
  src/stories/pages/React/WMSLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/Marker/index.mdx
  src/stories/pages/ReactLeaflet/PolygonLayer/index.mdx
  src/stories/pages/ReactLeaflet/PolylineLayer/index.mdx
  src/stories/pages/ReactLeaflet/WFSLayer/index.mdx
Due: npm run lint:styles

freshness
  package-lock.json
Due: npm run lint:scripts

deploy action fix
  .github/workflows/deploy-github-pages.yml
Due: none

Update all packages to latest, adjusted ts config and fixed broken ADS theme switch
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.css
  .storybook/preview.tsx
  eslint.config.mjs
  package-lock.json
  package.json
  src/components/Map/defaultMapOptions.ts
  src/pages/BaseLayer/BaseLayer.test.tsx
  src/pages/BaseLayer/BaseLayer.tsx
  src/pages/ContextExamples/DesignSystemPageZoomControls/MapProvider.tsx
  src/pages/ContextExamples/MultiMarkerSelect/Map.tsx
  src/pages/ContextExamples/Position/Map.tsx
  src/pages/ContextExamples/SingleMarkerSelect/Map.tsx
  src/pages/ContextExamples/ZoomControls/MapProvider.tsx
  src/pages/GeoJSONLayer/GeoJSONLayer.test.tsx
  src/pages/GeoJSONLayer/GeoJSONLayer.tsx
  src/pages/Marker/Marker.tsx
  src/pages/MarkerCluster/MarkerCluster.tsx
  src/pages/MarkerCluster/utils/createClusterIcon.test.ts
  src/pages/MarkerClusterSpiderfy/MarkerClusterSpiderfy.tsx
  src/pages/MarkerClusterSpiderfy/getMapData.test.ts
  src/pages/MarkerClusterSpiderfy/utils/createClusterIcon.test.ts
  src/pages/MarkerClusterSpiderfy/utils/createClusterIcon.ts
  src/pages/PolygonLayer/PolygonLayer.tsx
  src/pages/PolylineLayer/PolylineLayer.tsx
  src/pages/WFSLayer/useLeafletMap.test.tsx
  src/pages/WFSLayer/useLeafletMap.ts
  src/pages/WMSLayer/WMSLayer.test.tsx
  src/pages/WMSLayer/WMSLayer.tsx
  src/utils/reverseLatLng.ts
  tsconfig.json
Due: npm run lint:scripts, npm run lint:styles

Mousewheel explainer
  src/pages/ContextExamples/DesignSystemPageZoomControls/MapProvider.tsx
  src/stories/pages/Context/DesignSystemPageZoomControls/index.mdx
Due: npm run lint:scripts

Path conditions:
  npm run lint:scripts: any of: ./**/*.{ts,tsx,json}
  npm run lint:styles: any of: ./**/*.{css,scss}
