Repository Amsterdam/ee-react-map-demos: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:scripts, npm run lint:styles

Make storybook primary script, remove vite build and non-map components
  favicon.svg
  package-lock.json
Due: npm run lint:scripts

Import amsterdam logo from design-system-assets than local file
  .storybook/static/amsterdam.svg
Due: none

Updated react-leaflet baselayer docs
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
Due: none

BaseLayer example setup for React-leaflet
  src/pages/ReactLeaflet/BaseLayer/index.test.tsx
  src/pages/ReactLeaflet/BaseLayer/index.tsx
  src/pages/ReactLeaflet/BaseLayer/styles.module.css
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

fix for package.json
  package-lock.json
  package.json
Due: npm run lint:scripts

BaseLayer example setup for React-leaflet (#4)
  package-lock.json
  package.json
  src/pages/ReactLeaflet/BaseLayer/index.test.tsx
  src/pages/ReactLeaflet/BaseLayer/index.tsx
  src/pages/ReactLeaflet/BaseLayer/styles.module.css
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

BaseLayer example setup for React-leaflet (#4) (#9)
  package-lock.json
  package.json
  src/pages/ReactLeaflet/BaseLayer/index.test.tsx
  src/pages/ReactLeaflet/BaseLayer/index.tsx
  src/pages/ReactLeaflet/BaseLayer/styles.module.css
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

Basic zoom control story
  package-lock.json
  package.json
  src/pages/BaseLayer/index.tsx
  src/pages/ZoomControl/index.tsx
  src/pages/ZoomControl/styles.module.css
  src/stories/pages/Controls/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

Some design system storybook config
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/preview.tsx
  .storybook/types.ts
  .storybook/viewports.ts
  package-lock.json
  package.json
Due: npm run lint:scripts

remove comment
  .storybook/preview.tsx
Due: npm run lint:scripts

chore: Update ZoomControl icons size to "level-5"
  src/pages/ZoomControl/index.tsx
  src/stories/pages/ZoomControl/index.mdx
  src/stories/pages/ZoomControl/index.stories.ts
Due: npm run lint:scripts

TODO Pass ref to ZoomControl component
  src/pages/ZoomControl/index.tsx
Due: npm run lint:scripts

Buttons on a map and a test
  src/pages/ZoomControl/index.test.tsx
  src/pages/ZoomControl/index.tsx
  src/pages/ZoomControl/styles.module.css
  src/stories/pages/ZoomControl/index.mdx
  src/stories/pages/ZoomControl/index.stories.tsx
Due: npm run lint:scripts, npm run lint:styles

Fullscreen page pattern static
  src/stories/pages/BaseLayer/index.stories.ts
  src/stories/pages/Fullscreen/FullscreenPage.tsx
  src/stories/pages/Fullscreen/index.stories.tsx
  src/stories/pages/ZoomControl/index.mdx
  src/stories/pages/ZoomControl/index.stories.tsx
Due: npm run lint:scripts

Testing a full page
  src/pages/Fullscreen/FullscreenPage.tsx
  src/pages/Fullscreen/FullscreenPageFooter.tsx
  src/pages/Fullscreen/FullscreenPageHeader.tsx
  src/pages/Fullscreen/index.ts
  src/pages/ZoomControl/index.tsx
  src/pages/ZoomControl/styles.module.css
  src/stories/pages/Fullscreen/FullscreenPage.tsx
  src/stories/pages/Fullscreen/index.stories.tsx
Due: npm run lint:scripts, npm run lint:styles

Moved ZoomControl to isolated component and fullscreen page example
  src/components/ZoomControl/index.test.tsx
  src/components/ZoomControl/index.tsx
  src/components/ZoomControl/styles.module.css
  src/pages/Fullscreen/FullscreenPage.tsx
  src/pages/ZoomControlLayer/index.test.tsx
  src/pages/ZoomControlLayer/index.tsx
  src/pages/ZoomControlLayer/styles.module.css
  src/stories/pages/ZoomControl/index.mdx
  src/stories/pages/ZoomControl/index.stories.tsx
Due: npm run lint:scripts, npm run lint:styles

ZoomControl docs
  src/stories/pages/ZoomControl/index.mdx
Due: none

BaseLayer index files renamed
  src/pages/BaseLayer/BaseLayer.test.tsx
  src/pages/BaseLayer/BaseLayer.tsx
  src/pages/ReactLeaflet/BaseLayer/BaseLayer.test.tsx
  src/pages/ReactLeaflet/BaseLayer/BaseLayer.tsx
  src/stories/pages/BaseLayer/index.mdx
  src/stories/pages/BaseLayer/index.stories.ts
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.stories.ts
Due: npm run lint:scripts

Fix for BaseLayer naming
  src/pages/BaseLayer/BaseLayer.test.tsx
  src/pages/ReactLeaflet/BaseLayer/BaseLayer.test.tsx
Due: npm run lint:scripts

fix: first stab
  src/pages/Fullscreen/FullscreenPage.tsx
  src/pages/Fullscreen/Map.tsx
  src/pages/Fullscreen/MapContext.ts
  src/pages/Fullscreen/MapStyles.module.css
  src/pages/Fullscreen/mapOptions.ts
  src/pages/ZoomControl/index.tsx
Due: npm run lint:scripts, npm run lint:styles

fix: update
  src/pages/ZoomControl/ZoomControl.tsx
  src/pages/ZoomControl/index.tsx
Due: npm run lint:scripts

fix: remove ref
  src/pages/ZoomControl/ZoomControl.tsx
Due: npm run lint:scripts

Add Legend component and Pane component
  src/components/Legend/index.tsx
  src/components/Pane/index.tsx
  src/components/Pane/styles.modules.css
  src/stories/pages/Legend/index.stories.tsx
Due: npm run lint:scripts, npm run lint:styles

fix: move tilelayer to effect
  src/pages/Fullscreen/FullscreenPage.tsx
  src/pages/Fullscreen/Map.tsx
  src/pages/Fullscreen/mapOptions.ts
Due: npm run lint:scripts

fix; remove log
  src/pages/Fullscreen/Map.tsx
Due: npm run lint:scripts

[19] first attempt
  src/pages/WFSLayer/index.test.tsx
  src/pages/WFSLayer/index.tsx
  src/pages/WFSLayer/styles.module.css
  src/pages/WFSLayer/useGeoJSONLayer.test.tsx
  src/pages/WFSLayer/useGeoJSONLayer.ts
  src/pages/WFSLayer/useLeafletMap.test.tsx
  src/pages/WFSLayer/useLeafletMap.ts
  src/stories/pages/WFSLayer/index.mdx
  src/stories/pages/WFSLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

ZoomControl decorator and FullscreenMap as compontent
  src/components/ZoomControl/ZoomControl.tsx
  src/pages/Fullscreen/FullscreenPage.tsx
  src/pages/Fullscreen/FullscreenPageMap.tsx
  src/pages/ZoomControlLayer/index.test.tsx
  src/pages/ZoomControlLayer/index.tsx
  src/pages/ZoomControlLayer/styles.module.css
  src/stories/pages/Fullscreen/index.mdx
  src/stories/pages/Fullscreen/index.stories.tsx
  src/stories/pages/ZoomControl/index.stories.tsx
Due: npm run lint:scripts, npm run lint:styles

Ordering stories
  .storybook/preview.tsx
  src/stories/Alternatives.mdx
Due: npm run lint:scripts

Build the test later
  src/components/ZoomControl/ZoomControl.test.tsx
Due: npm run lint:scripts

Update Map component to use default map options
  src/components/Map/Map.tsx
  src/components/Map/defaultMapOptions.ts
  src/pages/BaseLayer/index.tsx
  src/stories/pages/BaseLayer/index.stories.ts
Due: npm run lint:scripts

[19] center content
  src/pages/WFSLayer/WFSLayer.test.tsx
  src/pages/WFSLayer/WFSLayer.tsx
  src/pages/WFSLayer/useLeafletMap.ts
  src/stories/pages/WFSLayer/index.mdx
  src/stories/pages/WFSLayer/index.stories.ts
Due: npm run lint:scripts

Pane styling
  src/components/Legend/index.tsx
  src/components/Pane/index.tsx
  src/components/Pane/styles.module.css
  src/components/Pane/styles.modules.css
  src/stories/pages/Legend/index.stories.tsx
Due: npm run lint:scripts, npm run lint:styles

[32] react-leaflet WFS layer
  src/pages/ReactLeaflet/WFSLayer/BaseLayer.test.tsx
  src/pages/ReactLeaflet/WFSLayer/BaseLayer.tsx
  src/pages/ReactLeaflet/WFSLayer/WFSLayer.test.tsx
  src/pages/ReactLeaflet/WFSLayer/WFSLayer.tsx
  src/pages/ReactLeaflet/WFSLayer/styles.module.css
  src/pages/ReactLeaflet/WFSLayer/useGeoJSONData.test.ts
  src/pages/ReactLeaflet/WFSLayer/useGeoJSONData.ts
  src/pages/WFSLayer/useGeoJSONLayer.test.tsx
  src/stories/pages/ReactLeaflet/WFSLayer/index.mdx
  src/stories/pages/ReactLeaflet/WFSLayer/index.stories.ts
  src/stories/pages/WFSLayer/index.stories.ts
Due: npm run lint:scripts, npm run lint:styles

BaseLayer index files renamed (#13)
  src/pages/BaseLayer/BaseLayer.test.tsx
  src/pages/BaseLayer/BaseLayer.tsx
  src/pages/ReactLeaflet/BaseLayer/BaseLayer.test.tsx
  src/pages/ReactLeaflet/BaseLayer/BaseLayer.tsx
  src/stories/pages/BaseLayer/index.mdx
  src/stories/pages/BaseLayer/index.stories.ts
  src/stories/pages/ReactLeaflet/BaseLayer/index.mdx
  src/stories/pages/ReactLeaflet/BaseLayer/index.stories.ts
Due: npm run lint:scripts

index renamed to GeoJSONLayer and test conditional removed
  src/pages/GeoJSONLayer/GeoJSONLayer.test.tsx
  src/pages/GeoJSONLayer/GeoJSONLayer.tsx
  src/stories/pages/GeoJSONLayer/index.stories.ts
Due: npm run lint:scripts

fix: setup test
  src/pages/GeoJSONLayer/index.test.tsx
  src/pages/GeoJSONLayer/index.tsx
Due: npm run lint:scripts

test environment changed to happydom to resolve leaflet testing error
  package-lock.json
  package.json
  vite.config.ts
Due: npm run lint:scripts

fix: add GeoJSON layer
  package-lock.json
  package.json
  src/pages/GeoJSONLayer/index.tsx
  src/pages/GeoJSONLayer/styles.module.css
  src/pages/GeoJSONLayer/types.ts
  src/stories/pages/GeoJSONLayer/index.stories.ts
  src/utils/toGeoJSON.ts
Due: npm run lint:scripts, npm run lint:styles

fix: put data in repo
  src/pages/GeoJSONLayer/data.json
  src/pages/GeoJSONLayer/index.tsx
  src/pages/GeoJSONLayer/types.ts
Due: npm run lint:scripts

Path conditions:
  npm run lint:scripts: any of: ./**/*.{ts,tsx,json}
  npm run lint:styles: any of: ./**/*.{css,scss}
